* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #2D3B66;
  font-family: "Montserrat";
}
a{
  text-decoration: none;
  color: #777;
}
a:hover{
  color: white;
}
.registration-form {
  width: 600px;
  background: white;
  display: flex;
  margin: 120px auto;
  flex-direction: column;
}
.registration-form h1 {
  text-align: center;
}
.registration-form .container {
  padding: 35px;
}
.registration-form .user-input {
  padding-top: 10px;
  padding-bottom: 10px;
}
.registration-form .user-input input {
  width: 100%;
  font-size: 18px;
  font-family: "Montserrat";
  outline: none;
  display: block;
  border: none;
  border-bottom: 1px solid black;
}
.registration-form .button-clicked {
  display: flex;
  flex-direction: row;
}
.registration-form .button-clicked button {
  width: 100%;
  background: #e8e9ec;
  font-family: "Montserrat";
  color: #777;
  cursor: pointer;
  border: none;
  padding: 18px;
}
.registration-form .button-clicked button:hover {
  color: white;
  background: #1b1b1b;
}