{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span> Currency Monitor
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="" target="_self">
              <span class="material-icons-outlined">dashboard</span> Home
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/ticker" target="_self">
              <span class="material-icons-outlined">inventory_2</span> Ticker Table
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/history-search" target="_self">
              <span class="material-icons-outlined">fact_check</span> History
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/prediction" target="_self">
              <span class="material-icons-outlined">add_shopping_cart</span> Prediction
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>


        <div class="charts">

          <div class="charts-card">
            <p class="chart-title">PLN and other currencies</p>
            <div>
                <canvas id="myChart1"></canvas>
            </div>
          </div>

          <div class="charts-card">
            <p class="chart-title">Popular currencies over last month</p>
            <div>
                <canvas id="myChart"></canvas>
            </div>
          </div>

        </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Custom JS -->
    <script src="{% static '/js/scripts.js' %}"></script>
  <script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: 'EUR/USD',
        data: {{ eurusd|safe }},
        borderWidth: 1
      },
          {
              label: 'EUR/CHF',
              data: {{ eurchf|safe }},
              borderWidth: 1
          },
         {
              label: 'GBP/USD',
              data: {{ gbpusd|safe }},
              borderWidth: 1
          }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      }
    }
  });
</script>
   <script>
  const ctx = document.getElementById('myChart1');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: 'PLN/EUR',
        data: {{ plneur|safe }},
        borderWidth: 1
      },
          {
              label: 'PLN/USD',
              data: {{ plnusd|safe }},
              borderWidth: 1
          }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      }
    }
  });
</script>
  </body>
</html>