{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Currency Monitor</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="menu-icon">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
            <form action='/logout/' method="post">
                {% csrf_token %}
          <button type="submit"><span class="material-icons-outlined">account_circle</span></button>
                 </form>
        </div>
      </header>


      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span> Currency Monitor
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/dashboard" target="_self">
              <span class="material-icons-outlined">dashboard</span> Home
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/ticker" target="_self">
              <span class="material-icons-outlined">inventory_2</span> Ticker Table
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/history-search" target="_self">
              <span class="material-icons-outlined">fact_check</span> History
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/prediction" target="_self">
              <span class="material-icons-outlined">arrow_right_alt</span> Prediction
            </a>
          </li>
        </ul>
      </aside>

      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>

        <div class="charts">

          <div class="charts-card">
            <p class="chart-title">Polish Zloty and other currencies over last month</p>
            <div>
                <canvas id="myChart2"></canvas>
            </div>
          </div>

          <div class="charts-card">
            <p class="chart-title">Popular currencies over last month</p>
            <div>
                <canvas id="myChart"></canvas>
            </div>
          </div>

        </div>
      </main>
    </div>

  <script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: 'EUR/USD',
        data: {{ eurusd|safe }},
        borderWidth: 1
      },
          {
              label: 'EUR/CHF',
              data: {{ eurchf|safe }},
              borderWidth: 1
          },
         {
              label: 'GBP/USD',
              data: {{ gbpusd|safe }},
              borderWidth: 1
          }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      }
    }
  });
</script>
   <script>
  const ctx2 = document.getElementById('myChart2');

  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: 'USD/PLN',
        data: {{ usdpln|safe }},
        borderWidth: 1
      },
          {
              label: 'EUR/PLN',
              data: {{ eurpln|safe }},
              borderWidth: 1
          },
         {
              label: 'CHF/PLN',
              data: {{ chfpln|safe }},
              borderWidth: 1
          }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      }
    }
  });
</script>
  </body>
</html>